* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: #f8f5f5;
    color: #ffffff;
    font-size: 16px;
    font-family: 'HelveticaNeue', Arial, sans-serif;
    font-weight: 400;
}