* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    color: #ffffff;
    font-size: 16px;
    font-family: 'HelveticaNeue', Arial, sans-serif;
    font-weight: 400;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

}
